
.container_cartas{
    height: 100vh;
}

.container_menu{
    margin-top: 50px;
}

.menu_background{
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../images/background_2.jpeg'); 
    background-repeat: no-repeat;
}

.opcao_menu{
    margin-bottom: 10px;
    border: 1px;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 5px;
}

.opcao_menu:hover{
    cursor: pointer; 
    border-color: whitesmoke;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
}

.opcao_carta{
    margin-bottom: 10px;
    border: 1px;
    border-color: #301710;
    border-style: solid;
    border-radius: 5px;

}

.opcao_carta:hover{ 
    cursor: pointer; 
    border-color: #6e392a;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
}

.menu_item{
    margin-top: 10px;
}